*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Satoshi;
    src: url(./fonts/Satoshi-Regular.ttf);
}

@font-face {
    font-family: Satoshi-Bold;
    src: url(./fonts/Satoshi-Bold.ttf);
}

:root{
    --cor0: #252627;
    --cor1: #E83151;
    --cor4: #D7BE82;
    --cor3: #568EA3;
    --cor2: #68C3D4;

    --fonte-padrao: Satoshi;
    --fonte-bold: Satoshi-Bold;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}

header{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.311);
    min-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-padrao);
    min-width: 20%;
    max-width: 100%;
}

header > h1 {
    font-family: var(--fonte-bold);
}


body{
    background-color: var(--cor0);
}

body > nav{
    background-color: rgba(0, 0, 0, 0.311);
    padding-bottom: 10px;
}

body > nav > a {
    text-decoration: none;
    color: #fff;
    font-family: var(--fonte-padrao);
    margin-left: 2%;
    position: relative;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

section#introduction{
    margin-top: 55px;
    height: 402px;
    min-width: 50%;
    max-width: 100%;
}

section#introduction > div{
    font-family: var(--fonte-bold);
    text-align: center;
    padding-top: 55px;
    background-color: #252627;
    min-width: 85%;
    max-width: 50%;
    margin: auto;
    color: #fff;
}

.barra{
    padding-top: 1.5em;
    border-bottom: solid #fff;
}

section#introduction > div > h2 {
    font-size: 30px;
}

section#introduction > div > p {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1rem;
}

section#introduction > div > span > a {
    text-decoration: none;
    color: #fff;
    background-color: var(--cor2);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    justify-content: center;
}

section#introduction > div > span > a:hover{
    background-color: #568EA3cc;
}

.space{
    background-color: var(--cor2);
    min-width: 320px;
    max-width: 100%;
    height: 35px;
    font-family: var(--fonte-bold);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#sobre-mim{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
    padding-top: 20px;
    min-width: 320px;
    max-width: 100%;
    min-height: 350px;
    font-family: var(--fonte-padrao);
    color: #fff;
}

div#content-text{
    background-color: var(--cor3);
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    text-indent: 10px;
}

div#content-image{
    padding-top: -20px;
    padding-bottom: 20px;
}

div#content-image > img{
    display: block;
    margin: auto;
}

section#my-projects{
    font-family: var(--fonte-padrao);
    color: #fff;
    padding-top: 50px;
    min-width: 320px;
    max-width: 100%;
    margin: 15px;
}

div#text > p{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

div#content-projects{
    display: grid;
    justify-content: center;  
    grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
    gap: 50px 194px;
    height: auto;
}

.box{
    min-width: 320px;
    max-width: 500px;
    height: 275px;
    overflow: hidden;
    border: solid 3px black;
    border-radius: 15px;
}

.box > img {
    width: 100%;
    height: 100%;
}

section#skills{
    display: grid;
    justify-content: center;  
    grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
    gap: 50px 50px;
    min-width: 320px;
    max-width: 100%;
    height: fit-content;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.box-skills{
    min-width: 320px;
    max-width: 550px;
    height: 90px;
    background-color: var(--cor3);
    position: relative;
    border-radius: 10px;
}

.image{
    position: absolute;
    top: 18.5%;
    left: 1.5%;
}

.skills-content{
    width: fit-content;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    left: 17.5%;
    top: 7.5%;
}

.skills-content > h3{
    font-family: var(--fonte-bold);
}

.skills-content > p{
    font-size: 0.9rem;
    font-family: var(--fonte-padrao);
}

footer{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    min-width: 320px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.311);
    font-family: var(--fonte-padrao);
    color: #fff;
}

footer > div{
    width: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer>nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer > nav> a{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

footer > nav > a::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

footer > nav > a::after:hover{
    width: 100%;
}

